{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Главная страница</title>
    <link rel="stylesheet" href="../static/style/home_buttons_vis.css">
    <link rel="stylesheet" href="../static/style/home_add_product.css">
    <script src="../static/script/home_buttons_vis.js"></script>

    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>

<body>
    <h2>Добро пожаловать, {{ user.username }}!</h2>
    <p>Здесь можно добавлять товары, статистику которых вы бы хотели отслеживать</p>
    <hr>
    <ul>
        <li>
            <a href="#">Личный кабинет</a>
        </li>
        <li>
            <a href="#">Мои товары</a>
        </li>
        <li>
            <a href="#">Поиск ключевых слов</a>
        </li>
        <li>
            <a href="#">Тарифы</a>
        </li>
        <li>
            <a href="logout">Выйти из аккаунта</a>
        </li>
    </ul>
    <hr>
    <h3>Выберите маркетплейс</h3>

    <button onclick="toggle_visibility('ozon', 'wb', 'first');">Ozon</button>
    <button onclick="toggle_visibility('ozon', 'wb', 'second');">Wildberries</button>
    <button onclick="toggle_visibility('ozon', 'wb', 'all');">Скрыть товары</button>

    <div id="dark_product_window">
        <div id="add_product_window">
            <form action="add_product_code" method="POST">
                {% csrf_token %}
                <label for="code">Код товара</label>
                <input type="text" placeholder="Введите код товара" name="code"><br>

                <a href="#" class="close">Закрыть</a>
                <button type="sumbit" id="add_ozon onclick="toggle_visibility('add_ozon', 'add_wb', 'first');" >Добавить</button>
                <button type="sumbit" id="add_wb">Добавить</button>
            </form>
        </div>
    </div>

    <div id="ozon">
        <h3>Ваши товары на маркетплейсе Ozon </h3>

        <input type="button" onclick="location.href='#dark_product_window';toggle_visibility('add_ozon', 'add_wb', 'first');" value="Добавить товар" />

        {% for item in ozon_list %}
            <li>{{ item }}</li>
        {% endfor %}

    </div>
    <div id="wb">
        <h3>Ваши товары на маркетплейсе Wildberries </h3>

        <input type="button" onclick="location.href='#dark_product_window';toggle_visibility('add_ozon', 'add_wb', 'second');" value="Добавить товар" />

        {% if wb_list == '[]' %}
            <p>Вы пока не добавляли товаров</p>
        {% else %}
            <table style="width:100%;">
                <tr>
                    <td>Бренд</td>
                    <td>Название товара</td>
                    <td>Артикул товара</td>
                </tr>
                {% for item in wb_list %}
                    <tr>
                        {% for item_inner in item %}
                            <td>{{ item_inner }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        {% endif %}

    </div>

    <hr>
    <h3>Что-то ещё..</h3>
</body>

</html>