{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Авторизация</title>
</head>

<body>
    <h1>Авторизация</h1>

    <div>
        <style>
            h5 {
                color: red;
            }
        </style>
        {% for message in messages %}
        <h5>{{message}}</h5>
        {% endfor %}
    </div>

    <form action="/login" method="POST">
        {% csrf_token %}
        <label for="login_id">Username</label>
        <input type="text" placeholder="Enter login" name="login_id" required><br><br>

        <label for="login_pw">Password</label>
        <input type="password" placeholder="Enter password" name="login_pw" required><br><br>

        <button type="sumbit">Sign in</button>
    </form>
</body>

<p>
    Don't have an ccount?
    <a href="/register">Sign up!</a>
</p>

<p>
    Forgot the password?
    <a href="#">Restore it!</a>
</p>

</html>