{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Авторизация</title>
</head>

<body>
    <h1>Авторизация</h1>

    <div>
        <style>
            h5 {
                color: red;
            }
        </style>
        {% for message in messages %}
        <h5>{{message}}</h5>
        {% endfor %}
    </div>

    <form action="/login" method="POST">
        {% csrf_token %}
        <label for="login_id">Логин</label>
        <input type="text" placeholder="Введите логин" name="login_id" required><br><br>

        <label for="login_pw">Пароль</label>
        <input type="password" placeholder="Введите пароль" name="login_pw" required><br><br>

        <button type="sumbit">Войти</button>
    </form>
</body>

<p>
    Нет аккаунта?
    <a href="/register">Зарегистрироваться</a>
</p>

<p>
    Забыли пароль?
    <a href="#">Восстановите его</a>
</p>

</html>